<html>
	<head>
		<title>Fluig</title>
		<link href="${SERVER_URL}/globalmailsender/resources/global.css" type="text/css" rel="stylesheet" />
	</head>
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<div align="left">
			<img src="${SERVER_URL}/globalmailsender/mailSenderHeader?tenantId=${TENANT_ID}">
			<p class="DescrMsgForum">Ol&aacute; ${RECEIVER},</>
			<p class="DescrMsgForum"><a class="action" href="${SERVER_URL}/portal/p/${TENANT_ID}/FluxoCanaisOnboard/dl/${NR_SOLICITATION}/${TOKEN}">Baixar Contrato<a></p>			
			<p class="DescrMsgForum">Este e-mail &eacute; autom&aacute;tico e n&atilde;o deve ser respondido.</p>
	    </div>
	</body>
</html>
